<div class="my-3">
  <h5>add-todo works!</h5>
  <form (ngSubmit)="Onsubmit()">
    <div class="form-group">
      <label for="Name" class="form-label">Name of Person</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="Name"
        name="name"
        placeholder="Vivek"
      />
    </div>
    <div class="form-group">
      <label for="Description" class="form-label">Description</label>
      <textarea
        class="form-control"
        [(ngModel)]="Desc"
        id="desc"
        name="desc"
        rows="3"
      ></textarea>
      <button class="btn btn-sm btn-primary" type="submit">AddToDo</button>
    </div>
  </form>
</div>
